
*.class

*.iml

.idea/.name

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/libraries/commons_io_2_4.xml

.idea/misc.xml

.idea/modules.xml

.idea/uiDesigner.xml

.idea/vcs.xml

.idea/workspace.xml
